* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "corinthia";
  src: url("../fonts/corinthia_[allfont.ru].ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  color: #36310D;
  min-width: 320px;
}

.header {
  position: relative;
  z-index: 1;
  background-image: url("../images/ноги вариант без сот.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 7%;
  padding-top: 75px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 46%;
  margin-left: 45%;
  margin-right: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header-logo {
  display: flex;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 83px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: capitalize;
  font-size: 18px;
}

.menu-link, 
.choice-link,
.phone {
  text-decoration: none;
  color: #36310D;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 38px;
}

.burger-menu {
  position: absolute;
  display: none;
}

.box-welcome-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: 150px;
  margin-bottom: 226px;
  text-align: left;
  width: 50%;
  margin-left: 45%;
}

.welcome-title {
  text-transform: none;
  font-size: 60px;
  font-family: "corinthia";
  margin-right: auto;
}

h2,
.phone {
  display: flex;
  text-transform: none;
  font-size: 20px;
  align-items: center;
}

.motto {
  margin-left: 17px;
}

.phone-box {
  position: relative;
  width: 220px;
  margin-right: 5%;
  margin-left: auto;
  z-index: 2;
  margin-top: 0;
  
}

.phone:after,
.phone:before {
  content: "";
  z-index: 2;
  background-image: url("../svg/Ellipse 3.svg");
  background-color: #36310D;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.choice-box {
  z-index: 2;
  position: absolute;
  width: 180px;
  top: 105px;
  left: 5%;
  right: 0;
  bottom: 0;
}

.choice {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5e13d;
  clip-path: polygon(25% 93.4%, 0% 50%, 25% 6.8%, 75% 6.8%, 100% 50%, 75% 93.4%);
}

.choice-reserv {
  background-color: #8019A8;
}

.choice-link {
  color: #36310D;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.choice-link-reserv {
  color: #F7EA88;
}

.choice + .choice {
  margin-top: 15px;
}

@media (min-width: 676px) and (max-width: 1253px) {
  .menu-list {
    width: 280px;
  }
}

@media (min-width: 676px) and (max-width: 810px) {
  .container {
    margin-left: 35%;
    width: 55%;
  }

  .box-welcome-title {
    margin-left: 35%;
  }

  .welcome-title {
    font-size: 50px;
  }

  .motto {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 300px) and (max-width: 675px) {
  .menu {
    position: absolute;
    display: none;
  }

  .container {
    width: 64%;
    margin-left: 16%;
  }

  .burger-menu {
    position: relative;
    display: flex;
    z-index: 1;
    width: 32px;
    height: 24px;
  }

  .box-welcome-title {
    margin-top: 90px;
    width: 64%;
    margin-left: 16%;
  }

  .welcome-title {
    font-size: 40px;
  }

  .motto {
    font-size: 18px;
    margin-left: 13px;
  }

  .choice-box {
    width: 64%;
    margin-left: 16%;
    top: 420px;
  }

  .choice {
    width: 100px;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
  }

  .choice-reserv {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 33px;
    right: 0;
  }

  .choice-link {
    font-size: 12px;
  }

  .choice-link-reserv {
    font-size: 15px;
  }

  .phone-box {
    margin-right: auto;
    padding-top: 150px;
  }
}