* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "corinthia";
  src: url("../fonts/corinthia_[allfont.ru].ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Nunito", sans-serif;
  color: #36310D;
  min-width: 270px;
}

.header {
  position: relative;
  z-index: 1;
  background-image: url("../images/ноги вариант без сот.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 7%;
  padding-top: 75px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 46%;
  margin-left: 45%;
  margin-right: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.header-logo {
  display: flex;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 83px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
}

.menu-link, 
.choice-link,
.phone {
  text-decoration: none;
  color: #36310D;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 38px;
}

.burger-menu {
  position: absolute;
  display: none;
}

.box-welcome-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: 150px;
  margin-bottom: 226px;
  text-align: left;
  width: 50%;
  margin-left: 45%;
}

.welcome-title {
  text-transform: none;
  font-size: 80px;
  font-family: "corinthia";
  margin-right: auto;
}

h2,
.phone {
  display: flex;
  text-transform: none;
  font-size: 25px;
  align-items: center;
}

.motto {
  margin-left: 17px;
}

.phone-box {
  position: relative;
  width: 250px;
  margin-right: 5%;
  margin-left: auto;
  z-index: 2;
  margin-top: 0;
  
}

.phone:after,
.phone:before {
  content: "";
  z-index: 2;
  background-image: url("../svg/Ellipse 3.svg");
  background-color: #36310D;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.choice-box {
  z-index: 2;
  position: absolute;
  width: 180px;
  top: 105px;
  left: 5%;
  right: 0;
  bottom: 0;
}

.choice {
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5e13d;
  clip-path: polygon(25% 93.4%, 0% 50%, 25% 6.8%, 75% 6.8%, 100% 50%, 75% 93.4%);
}

.choice-reserv {
  background-color: #8019A8;
}

.choice-link {
  color: #36310D;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.choice-link-reserv {
  color: #F7EA88;
}

.choice + .choice {
  margin-top: 15px;
}

.advantages {
  width: 67%;
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

h4 {
  font-size: 40px;
}

.advantages-title:before {
  content: 'П';
  z-index: -1;
  position: absolute;
  font-family: "corinthia";
  font-size: 300px;
  color: #A89819;
  opacity: 0.2;
  top: -130px;
  left: -165px;
}

h5 {
  font-size: 30px;
  text-transform: uppercase;
}

.advantage-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 100px;
  margin-bottom: 20px;
}

.advantage {
  width: 16.5%;
  position: relative;
  margin-bottom: 70px;
}

.advantage-m {
  margin-right: 19%;
  margin-left: 19%;
  margin-bottom: 60px;
}

.advantage-down {
  padding-top: 170px;
}

.number-advantage {
  font-size: 150px;
  color: #DEB72C;
}

.advantage-link {
  color: #36310D;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 20px;
}

.img-sugar {
  position: absolute;
  top: -95px;
  left: -100px;
}

.img-flower {
  position: absolute;
  z-index: -1;
  top: -65px;
}

.service-price {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  position: relative;
}

.price-box {
  margin-left: 16px;
  margin-right: 16px;
}

.prices-title {
  position: relative;
}

.prices-title:before {
  content: 'Р';
  z-index: -1;
  position: absolute;
  font-family: "corinthia";
  font-size: 300px;
  color: #A89819;
  opacity: 0.2;
  top: -150px;
  left: -40px;
}

.prices {
  width: 84%;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.prices-kinds {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin-top: 100px;
}

.gender {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.gender-link,
.view-link {
  color: #36310D;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.gender-girl::after,
.view-front::after {
  content: "";
  display: block;
  background-color: #36310D;
  margin: 10px auto 32px auto;
  height: 2px;
  width: 100%;
}

.gender-link-guy,
.view-link-back {
  color: #858585;
  margin-left: 10px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.service-box-last {
  margin-left: 20px;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.checkbox-text {
  display: inline-block;
  margin-right: 5px;
}

.checkbox-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  background-image: url(../svg/чекбос.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.checkbox:checked ~ .checkbox-text::before {
  background-image: url("../svg/чекбос нажатие.svg"); 
}

.checkbox:checked ~ span {
  color: #A89819;
  font-weight: bold;
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.total-price {
  font-size: 25px;
  font-weight: bold;
}

.person {
  position: absolute;
  top: -100px;
  right: -180px;
}

.offers {
  position: relative;
  background-image: url("../images/фото с фоном на акцию.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h6 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 190px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.offer-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.offer-button {
  width: 500px;
  height: 90px;
  border: none;
  background-color: #36310D;
  color: #FFEC59;
  margin-top: 80px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 35px;
  border-radius: 5px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offers-link {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #36310D;
  margin-bottom: 100px;
}

.master {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.master-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 70px;
}

.master-name {
  font-family: "corinthia";
  font-size: 70px;
  font-weight: 400;
  margin-left: 15px;
  position: relative;
}

.master-name:before {
  content: 'Наталья';
  z-index: -1;
  position: absolute;
  font-family: "corinthia";
  font-size: 300px;
  color: #A89819;
  opacity: 0.2;
  top: -150px;
  left: -350px;
}

.master-img {
  width: 334px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.master-box {
  width: 467px;
  font-size: 25px;
}

.master-about {
  margin-bottom: 30px;
}

.certificate-title,
.reviews-title,
.gallery-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
}

.certificate-left,
.certificate-right {
  width: 440px;
  padding: 0;
  margin: 0;
}

.certificates:before,
.reviews-box:before,
.gallery-box:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../svg/стрелка назад.svg");
  width: 53px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  margin: auto 0;
}

.certificates:after,
.reviews-box:after,
.gallery-box:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../svg/стрелка вперед.svg");
  width: 53px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  vertical-align: middle;
  margin: auto 0;
}

.reviews-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 175px;
  position: relative;
}

.review {
  display: flex;
  width: 440px;
  background-color: #F7EA88;
  border-radius: 5px;
}

.review-left,
.review-right {
  width: 189px;
}

.rewier-text {
  margin-top: 35px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 35px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.review-person {
  font-weight: bold;
  width: 100%;
}

.review-mobil {
  display: none;
}

.phrase-box {
  width: 100%;
  background-color: #F5E13D;
  display: flex;
  flex-wrap: wrap;
}

.phrase {
  font-family: "corinthia";
  width: 84%;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin-top: 150px;
}

.phrase-person {
  font-size: 40px;
  margin-right: 8%;
  margin-left: auto;
  margin-bottom: 150px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
}

.gallery-title {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.gallery-box {
  display: flex;
  position: relative;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-img {
  width: 80%;
}

.offers-friend {
  background-image: url("../images/фон спец предложение 2.png");
}

.contacts-box {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  margin-bottom: 150px;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
}

.map-box {
  width: 50%;
}

.contacts {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  font-size: 40px;
  font-weight: 700;
}

.telephone {
  width: 100%;
  text-align: center;
}

.telephone-link {
  text-decoration: none;
  color: #36310D;
}

.address {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

footer {
  display: flex;
  background-color: #36310D;
  color: #FFEC59;
  font-size: 30px;
  font-style: normal;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social {
  display: flex;
  width: 16%;
  box-sizing: border-box;
  margin-left: 16.6%;
  padding-top: 150px;
  flex-wrap: wrap;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.social-link { 
  display: block;
  background-repeat: no-repeat;
  background-size: 61px;
  width: 61px;
  height: 61px;
  background-position: center;
}

.social-link-instagram {
  background-image: url("../svg/иконка инстаграм.svg");
  margin-right: 30px;
}

.social-link-whatsapp {
  background-image: url("..//svg/иконка вотсап.svg");
}

.social-text {
  letter-spacing: 2px;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 100%;
}

.footer-date-box {
  margin-left: 16.6%;
  margin-right: 16.6%;
  padding-bottom: 150px;
  margin-top: 60px;
}

.footer-date {
  font-size: 20px;
}

.footer-menu {
  display: flex;
  width: 42%;
  margin-right: 16.6%;
  padding-top: 150px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-menu-items {
  list-style: none;
}

.footer-menu-link {
  text-decoration: none;
  color: #FFEC59;
  font-style: normal;
}

.footer-menu-left {
  margin-right: 20px;
}

@media (min-width: 1270px) and (max-width: 1560px) {
  .certificate-left {
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .review-mobil {
    display: none;
  }
}  

@media (min-width: 1254px) and (max-width: 1269px) {
  .service-price {
    width: 60%;
  }

  .prices-kinds {
    width: 78%;
  }

  .service-box-last {
    margin-left: 0;
  }

  .certificate-left {
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .review-mobil {
    display: none;
  }
}  

@media (min-width: 1254px) and (max-width: 1350px) {
  .menu-list {
    width: 280px;
    font-size: 18px;
  }
}

@media (min-width: 676px) and (max-width: 1253px) {
  .menu-list {
    width: 280px;
    font-size: 18px;
  }

  .advantages-title:before {
    font-size: 250px;
    left: -140px;
  }

  .prices-title:before {
    font-size: 250px;
    top: -130px;
    left: -30px;
  }

  .advantage-list {
    justify-content: space-between;
  }

  .advantage-m {
    margin-right: 0;
    margin-left: 0;
  }

  .advantage {
    width: 35%;
  }

  .advantage:nth-child(even) {
    margin-left: 25%;
  }

  .img-sugar {
    display: none;   
  }

  .advantage-down {
    padding-top: 0px;
  }

  .service-price {
    width: 60%;
  }

  .service-box-last {
    margin-left: 0;
  }

  .prices-kinds {
    width: 78%;
  }

  .master-box {
    margin-left: auto;
  }

  .master-name:before {
    font-size: 200px;
    left: -220px;
    top: -80px;
  }

  .certificate-left {
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .review-mobil {
    display: none;
  }

  .map-box {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
  }

  .contacts {
    width: 100%;
  }

  .contact-logo {
    margin-bottom: 65px;
    margin-top: 65px;
  }
}

@media (min-width: 758px) and (max-width: 1053px) {
  .master-name:before {
    font-size: 200px;
    top: 0;
    left: -530px;
  }
}

@media (min-width: 736px) and (max-width: 757px) {
  .master-name:before {
    font-size: 200px;
    top: -80px;
    left: -90px;
  }
}

@media (min-width: 676px) and (max-width: 735px) {
  .master-name:before {
    font-size: 150px;
    top: -50px;
  }
}

@media (min-width: 619px) and (max-width: 675px) {
  .master-name:before {
    font-size: 150px;
    top: -50px;
    left: -210px;
  }
}

@media (min-width: 532px) and (max-width: 618px) {
  .master-name:before {
    font-size: 150px;
    top: 30px;
    left: -240px;
  }
}

@media (min-width: 300px) and (max-width: 531px) {
  .master-name {
    display: inline-block;
  }

  .master-name:before {
    display: none;
  }

  .img-flower {
    display: none;
  }  
}

@media (min-width: 676px) and (max-width: 810px) {
  .container {
    margin-left: 35%;
    width: 55%;
  }

  .box-welcome-title {
    margin-left: 35%;
  }

  .welcome-title {
    font-size: 50px;
  }

  .motto {
    margin-left: 0;
    margin-right: auto;
  }

  .advantages-title:before {
    font-size: 200px;
    left: -110px;
    top: -100px;
  }

  .prices-title:before {
    font-size: 200px;
    top: -110px;
    left: -20px;
  }

  .advantage-list {
    justify-content: space-between;
  }

  .advantage-m {
    margin-right: 0;
    margin-left: 0;
  }

  .advantage {
    width: 35%;
  }

  .advantage:nth-child(even) {
    margin-left: 25%;
  }

  .img-sugar {
    display: none;   
  }

  .advantage-down {
    padding-top: 0px;
  }

  .service-box-last {
    margin-left: 0;
  }

  .prices-kinds {
    width: 80%;
  }

  .certificate-left {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .review-mobil {
    display: none;
  }

  .map-box {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 781px) and (max-width: 840px) {
  .certificate-left {
    width: 60%;
  }

  .review {
    flex-wrap: wrap;
    width: 60%;
  }

  .review-left {
    display: none;
  }

  .review-mobil {
    display: flex;
    width: 100%;
  }

  .rewier-text {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (min-width: 677px) and (max-width: 780px) {
  .person {
    display: none;
  }

  .view {
    display: none;
  }

  .service-price {
    width: 90%;
  }

  .checkbox-group {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }

  .service-box-last {
    margin-left: 0;
  }

  h6 {
    font-size: 35px;
  }

  .offer-title {
    font-size: 30px;
  }

  .offer-button {
    width: 400px;
    height: 80px;
    font-size: 30px;
  }

  .certificate-left {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .review {
    flex-wrap: wrap;
    width: 60%;
  }

  .review-left {
    display: none;
  }

  .review-mobil {
    display: flex;
    width: 100%;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .gallery {
    margin-right: 30px;
    margin-left: 30px;
  }

  .gallery-box {
    width: calc(100% - 60px);
  }

  .gallery-img {
    width: 70%;
  }
}

@media (min-width: 676px) and (max-width: 1332px) {
  .footer-menu {
    width: 25%;
    justify-content: flex-start;
  }

  .social-icons {
    margin-bottom: 170px;
  }
}

@media (min-width: 676px) and (max-width: 885px) {
  footer {
    font-size: 20px;
  }

  .social-link { 
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 300px) and (max-width: 675px) {
  .menu {
    position: absolute;
    display: none;
  }

  .container {
    width: 64%;
    margin-left: 16%;
  }

  .burger-menu {
    position: relative;
    display: flex;
    z-index: 1;
    width: 32px;
    height: 24px;
  }

  .box-welcome-title {
    margin-top: 90px;
    width: 64%;
    margin-left: 16%;
  }

  .welcome-title {
    font-size: 40px;
  }

  .motto {
    font-size: 18px;
    margin-left: 13px;
  }

  .choice-box {
    width: 64%;
    margin-left: 16%;
    top: 420px;
  }

  .choice {
    width: 100px;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
  }

  .choice-reserv {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 33px;
    right: 0;
  }

  .choice-link {
    font-size: 12px;
  }

  .choice-link-reserv {
    font-size: 15px;
  }

  .phone-box {
    margin-right: auto;
    padding-top: 150px;
  }

  .advantage-list {
    display: block;
  }

  .advantage {
    width: 65%;
  }
  
  .advantage-m {
    margin-right: 0;
    margin-left: 0;
  }

  .advantage:nth-child(even) {
    margin-left: auto;
  }

  .img-sugar {
    display: none;   
  }

  .advantage-down {
    padding-top: 0px;
  }  

  .advantages-title:before {
    font-size: 200px;
    left: -110px;
    top: -100px;
  }

  .prices-title:before {
    font-size: 200px;
    top: -110px;
    left: -20px;
  }

  .person {
    display: none;
  }

  .view {
    display: none;
  }

  .service-price {
    width: 90%;
  }

  .service-box-last {
    margin-left: 0;
  }

  .checkbox-group {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }

  h6 {
    font-size: 30px;
    text-align: center;
  }

  .offer-title {
    font-size: 25px;
    text-align: center;
  }

  .offer-button {
    width: 300px;
    height: 70px;
    font-size: 25px;
  }

  .master-box {
    font-size: 20px;
  }

  .master-img {
    width: 240px;
  }

  .certificate-left {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-right {
    display: none;
  }

  .reviews-box-right {
    display: none;
  }

  .reviews-box-left {
    margin-right: auto;
    margin-left: auto;
  }

  .certificate-title,
  .reviews-title,
  .gallery-title {
    font-size: 25px;
  }

  .review {
    flex-wrap: wrap;
    width: 60%;
  }

  .review-left {
    display: none;
  }

  .review-mobil {
    display: flex;
    width: 100%;
  }

  .rewier-text {
    width: 100%;
    margin-bottom: 35px;
  }

  .gallery {
    margin-right: 30px;
    margin-left: 30px;
  }

  .gallery-box {
    flex-wrap: wrap;
    width: calc(100% - 60px);
  }

  .gallery-img {
    width: 70%;
  }

  .map-box {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
  }

  .map {
    width: 300px;
  }

  .contacts {
    width: 100%;
  }

  .contact-logo {
    margin-bottom: 65px;
    margin-top: 65px;
  }

  .footer-menu {
    width: 25%;
    justify-content: flex-start;
  }

  footer {
    font-size: 20px;
  }

  .social-link { 
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 300px) and (max-width: 440px) {
  .advantages-title,
  .prices-title,
  .master-title {
    font-size: 35px;
  }

  .advantage-title {
    font-size: 25px;
  }

  .telephone-link {
    font-size: 30px;
  }

  .certificates:before,
  .reviews-box:before,
  .gallery-box:before {
    display: none;
  }

  .certificates:after,
  .reviews-box:after,
  .gallery-box:after {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../svg/стрелки вперед назад мин экран.svg");
  }

  .rewier-text {
    font-size: 15px;
  }

  .certificate-left {
    width: 80%;
  }

  .review {
    width: 80%;
  }

  .gallery-img {
    width: 100%;
  }
}